<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mLogger" type="MLogger.Configuration, mLogger" />
  </configSections>
  <mLogger orderEntriesByLogLevel="true" logLevel="Error" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoggerSvc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55762/Logger.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoggerSvc" contract="LoggerSvc.ILoggerSvc"
        name="BasicHttpBinding_ILoggerSvc" />
    </client>
  </system.serviceModel>
</configuration>